.teamsCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  height: 100vh;
}

.teamSelectCarousel {
  width: 40%;
  position: relative;
  padding: 0 2rem;
}

.versus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.carousel-item {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/* Style the carousel images to be centered */
.carousel-item img {
  margin: 0 auto;
  display: block;
  object-fit: contain;
  max-height: 200px;
  width: auto;
}

/* Make carousel captions visible against any background */
.carousel-caption {
  border-radius: 10px;
  padding: 10px;
  
}